navigation
  background: rgb(255, 255, 255)
  box-shadow: 0px 0px 10px #000 
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  left: 0px
  margin: 0px
  padding: 1rem 2rem 0.5rem 2rem
  position: fixed
  right: 0px
  top: 0px
  transition: all 0.5s linear
  z-index: 100
  item
    border-radius: 0.5rem
    border: 1px solid silver
    cursor: pointer
    display: block
    flex: 1 0 auto
    margin: 5px 5px 0px 5px
    max-width: 150px
    padding: 0.5rem
    text-align: center
    transform: skewX(-45deg)
    &:nth-child(0)
      padding-left: 100px
    &.current
      background: #6f9ab9
      color: #fff
      font-weight: bold
    span
      display: block
      transform: skewX(45deg)
  .nav-pull-right
    margin-left: auto
  item:hover
    background: lightblue
  item.current:hover
    background: #6f9ab9

#collapse-bar
  box-shadow: 0px 0px 10px #000 
  display: block
  height: 0px
  width: 100%
.nav-label
  display: none
body:after
  background: url(../images/bg-vfr-chart.png)
  top: 0
  left: 0
  right: 0
  bottom: 0
  content: ""
  position: fixed
  z-index: -1
  opacity: 0.1
  background-repeat: repeat
.page
  background: rgba(255,255,255,0.8)
  box-shadow: 0px 0px 25px #888888
  display: none
  left: auto
  margin-left: auto
  margin-right: auto
  margin-top: 6rem
  max-width: 1000px
  padding: 20px
  position: relative
  right: auto
  & *
    max-width: 100%
.current
  display: block
.page-logo
  content: url(../images/J3D-Icon.svg)
  position: relative
  height: 70px
  margin-top: 30px
figcaption 
  .author:before
    content: '('
  .author
    margin-left: 10px
    font-style: italic
  .author:after
    content: ')'

a[href]
  text-decoration: none
  &:hover, &:active
    text-decoration: underline
a[href]:after
  font-family: "FontAwesome"
  content: " \1F517"


figure
  display: inline-block
  a:after
    content: "" !important

.currentsituation h2
  text-align: center
  background: #6f9ab9
  color: white
  position: relative
  top: 0px
  margin-top: 0px
  border-top-left-radius: 20px
  border-top-right-radius: 20px
.currentsituation
  border: 1px solid #6f9ab9
  border-radius: 20px
.metar h2
  display: block
  width: 100%
  text-align: center
.currentsituation
  border: 1px solid #6f9ab9
  border-radius: 20px
.sun
  border-top: 1px solid #efefef
.metar, .sun
  display: flex
  flex-flow: row wrap
  div
    display: block
    line-height: 1.25em
    margin-left: 10px
    &:nth-of-type(odd)
      width: 30%
    &:nth-of-type(even)
      width: 60%



a[href$=".pdf"]:after
  content: ""
  display: inline-block
  width: 100px
  height: 100px
  //background: url('/images/pdf.svg') no-repeat 0 0

@media screen and (min-width: 1001px)
  .page-logo
    content: url(../images/J3D-Icon.svg)
    position: fixed !important
    z-index: 200
    left: 10
    height: 80px
    margin-top: -90px !important
  navigation
    item:nth-child(1)
      margin-left: 100px
  #collapse-bar
    span:not(.page-logo), .menu-icon
      display: none
  .page
    column-count: 2



@media screen and (max-width: 1000px)
  navigation
    & *
      transition: all 0.25s ease
    display: flex
    flex-flow: column wrap
    transform: translate(-1100px, 0px)
    box-shadow: 0px 0px 10px #000
    item
      border: none
      border-bottom: 1px solid skyblue
      border-radius: 0px
      display: block
      flex: 1
      height: 1.5rem
      margin: auto
      margin-bottom: 0.25rem
      max-width: 100%
      padding: 0.5rem
      position: relative
      text-align: center
      transform: skewX(-45deg)
      transform: translate(-1010, 0px)
      width: 90%
      &:hover, &:focus, &:active
        border-radius: 0.5rem
      &:nth-child(0)
        padding-left: 0px
      &.current
        border-radius: 0.5rem
      span
        display: block
        transform: skewX(45deg)
  navigation.open
    transform: translate(0px, 0px)
  #collapse-bar
    background: lightskyblue
    border-radius: 0px
    display: flex
    height: 30px
    padding: 10px 20px 10px 20px
    position: fixed
    right: 0px
    left: 0px
    top: 0px
    width: auto
    z-index: 50
    box-shadow: 0px 0px 10px #000
    justify-content: space-between
    align-items: center
    & *
      flex: 1
    .menu-icon
      text-align: right
  .page
    margin-top: 3rem
    padding: 5px

