html
  head
    title EDST Kirchheim unter Teck (Hahnweide)
    link(rel="stylesheet" href="css/blueimp-gallery.min.css")
    link(rel="stylesheet" href="css/index.css")
  body

    #container.content
      h1 EDST Kirchheim unter Teck (Hahnweide)
      input#tab-1(type="radio" name="tab-group" checked="checked")
      label(for="tab-1") Der Platz
      input#tab-2(type="radio" name="tab-group")
      label(for="tab-2") Die Szenerie
      input#tab-3(type="radio" name="tab-group") 
      label(for="tab-3") Charts
      input#tab-4(type="radio" name="tab-group") 
      label(for="tab-4") Unterst&uuml;tzung
      
      #content

        #content-1.tabpanel
          h2 Der Platz
          p Die Hahnweide ist ein kleiner Flugplatz &ouml;stlich von Stuttgart im S&uuml;den Deutschlands, direkt am Rande der Schw&auml;bischen Alb. Der Platz beheimatet gleich mehrere Vereine sowie die Flugschule des Baden-W&uuml;rttembergischen Luftfahrt Verbands e. V.
          .cols2
            h3 Die Lage
            p Obwohl die Hahnweide aufgrund von L&auml;rmschutzvorgaben unterj&auml;hrig nur f&uuml;r die am Platz beheimateten Vereine per Motorflug genutzt werden kann, bietet die Hahnweide aufgrund seiner N&auml;he zum Albtrauf und zur nahe gelegenen Stadt Stuttgart viele reizvolle M&ouml;glichkeiten f&uuml;r tolle Fl&uuml;ge in die Umgebung.
            .image
              a(href="http://nordenflieger.de/bilder/VFR/EDST_Hahnweide_real.jpg")
                img(src="http://nordenflieger.de/bilder/VFR/EDST_Hahnweide_real.jpg")
              .caption Die Hahnweide aus der Luft Blick Richtung Osten.
                span.author friesenflieger.eu
            h3 Besonderheiten
            p Bekannt ist die Hahnwiede insbesondere bei Liebhabern klassischer Flugzeuge aufgrund des in der Regel alle zwei Jahre stattfindenden Oldtimer Fliegertreffens.
            .image
              a(href="http://www.teckbote.de/cms_media/module_img/42/21470_1_articleorg_544eeb1f889f2.jpg")
                img(src="http://www.teckbote.de/cms_media/module_img/42/21470_1_articleorg_544eeb1f889f2.jpg")
              .caption Oldtimer-Treffen.
                span.author teckbote.de
            p Das Fliegertreffen findet in der Regel alle zwei Jahre Statt und zieht neben ganz besonderen historischen Flugzeugen und Nachbauten stets auch tausende begeisterte Zuschauer an.

        #content-2.tabpanel
          h2 Die Szenerie
          p Entwickelt wir die Scenerie aktuell auf Basis von vor Ort aufgenommenen Fotos sowie der Geo-Informationen die aus diversen online verf&uuml;gbaren Luftbildquellen ermittelt werden.
          .cols2
            p Ausz&uuml;ge aus dem aktuellen Arbeitsstand:
            .image
              a(href="https://raw.githubusercontent.com/joeherwig/EDST-Flightsim-Scenery_Hahnweide-Kirchheim-unter-Teck/master/img/Title.png")
                img(src="https://raw.githubusercontent.com/joeherwig/EDST-Flightsim-Scenery_Hahnweide-Kirchheim-unter-Teck/master/img/Title.png")
              .caption Der Tower mit Haupthangar.
                span.author joeherwig
            p Die Screenshots sind noch aus Sketchup.
            .image
              a(href="https://raw.githubusercontent.com/joeherwig/EDST-Flightsim-Scenery_Hahnweide-Kirchheim-unter-Teck/master/img/Fliegergruppe.png")
                img(src="https://raw.githubusercontent.com/joeherwig/EDST-Flightsim-Scenery_Hahnweide-Kirchheim-unter-Teck/master/img/Fliegergruppe.png")
              .caption Das Fliegerheim der Fliegergruppe Wolf-Hirth.
                span.author joeherwig
          p Der Platz ist aktuell noch im entstehen. Leider liegen mir nicht von allen Geb&auml;uden und Objekten am Platz Fotos vor, so dass ich noch mal hin muss, um auch die weiteren Elemente bauen zu k&ouml;nnen. 

        #content-3.tabpanel
          h2 Charts
          p Da der Platz PPR - und damit f&uuml;r externe Piloten in der Realit&auml;t normalerweise gesperrt ist, muss ich mich mal auf dem Platz nach g&uuml;ltigen Anflugkarten umsehen.

        #content-4.tabpanel
          h2 Unterst&uuml;tzung
          p Da sich der Platz aktuell noch mitten in der Entwicklung befindet, freue ich mich &uuml;ber jeden, der Tatkr&auml;ftig an dieser open-source-Scenery mithilft.
          p
            a(href="https://github.com/joeherwig/EDST-Flightsim-Scenery_Hahnweide-Kirchheim-unter-Teck" target="github") Hier 
            | k&ouml;nnt Ihr euch die Sourcen ziehen und den jeweils aktuellen Bearbeitungsstand abrufen. Wenn Ihr gemeinsam mit mir diesen kleinen Platz in die Simulatoren bringen wollt, freue ich mich &uuml;ber eure kurze Info &uuml;ber die 
            a(href="https://github.com/joeherwig/EDST-Flightsim-Scenery_Hahnweide-Kirchheim-unter-Teck/issues" target="github") github Issues
            | .

      #blueimp-gallery.blueimp-gallery
        - var prevsymbol = '‹›×'
        .slides
        h3.title
        a.prev &lt;
        a.next &gt;
        a.close x
        a.play-pause
        ol.indicator
    script(src="js/blueimp-gallery.min.js")
    script.
      document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement, link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
      };
    //- .footer just some footer text.
    //-   a(href="#impressum") Impressum
