html
  head
    title My test
    link(rel="stylesheet" href="css/index.css")
  body
    //- .header
    //-   .menu
    //-     ul
    //-       li 
    //-         a(href="#download") Download
    //-       li 
    //-         a(href="#charts") Charts
    .content
      h1 EDST Kirchheim unter Teck (Hahnweide)
      p Die Hahnweide ist ein kleiner Flugplatz &ouml;stlich von Stuttgart im S&uuml;den Deutschlands, direkt am Rande der Schw&auml;bischen Alb. Der Platz beheimatet gleich mehrere Vereine sowie die Flugschule des Baden-W&uuml;rttembergischen Luftfahrt Verbands e. V.
      .cols2
        h2 Die Lage
        p Obwohl die Hahnweide aufgrund von L&auml;rmschutzvorgaben unterj&auml;hrig nur f&uuml;r die am Platz beheimateten Vereine per Motorflug genutzt werden kann, bietet die Hahnweide aufgrund seiner N&auml;he zum Albtrauf und zur nahe gelegenen Stadt Stuttgart viele reizvolle M&ouml;glichkeiten f&uml;r tolle Fl&uuml;ge in die Umgebung.
        .image
          img(src="http://nordenflieger.de/bilder/VFR/EDST_Hahnweide_real.jpg")
          .caption Die Hahnweide aus der Luft Blick Richtung Osten.
            .author nordenflieger.de


        h2 Besonderheiten
        p Bekannt ist die Hahnwiede insbesondere bei Liebhabern klassischer Flugzeuge aufgrund des in der Regel alle zwei Jahre stattfindenden Oldtimer Fliegertreffens.
        .image
          img(src="http://www.teckbote.de/cms_media/module_img/42/21470_1_articleorg_544eeb1f889f2.jpg")
          .caption Oldtimer-Treffen.
            .author teckbote.de
        p Das Fliegertreffen findet in der Regel alle zwei Jahre Statt und zieht neben ganz besonderen historischen Flugzeugen und Nachbauten stets auch tausende begeisterte Zuschauer an.
    //- .footer just some footer text.
    //-   a(href="#impressum") Impressum
