html
  head
    title EDST Hahnweide Kirchheim unter Teck
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='css/style.css')
    script.
      NodeList.prototype.forEach = Array.prototype.forEach;

      /*fetch('https://avwx.rest/api/metar/edds')
        .then(function(response) { 
          return response.json();
        })
        .then(function(j) {
          console.log(j);
      });*/

      function setActivePage(pageID) {
        console.log('activating: '+pageID)
        let pages = document.querySelectorAll('.page[id]').forEach(function(page) {
          document.getElementById(page.id).classList.remove("current");

        })
        document.getElementById(pageID).classList.add("current");

        let navs = document.querySelectorAll('navigation item[id]').forEach(function(nav) {
          document.getElementById(nav.id).classList.remove("current");

        })
        document.getElementById(pageID+'-nav').classList.add("current");
        document.getElementById('navigation').classList.remove("open");
      };

      // Build Navigation based on available pages. All Pages with explicitly set id are put to the navigation.
      document.addEventListener('DOMContentLoaded', function() {
        let listOfPages = '';
        let allpages = document.querySelectorAll('.page[id]').forEach(function(page) {
          let headlines = page.querySelectorAll('.page>h1:first-child, .page:not(h1)>h2:first-child, .page:not(h1):not(h2)>h3:first-child').forEach(function(pagetitle){
            
            let pullright = page.classList.contains('nav-pull-right');
            if (pullright) {
              listOfPages += "<item id='"+page.id+"-nav' onclick='setActivePage(\""+page.id+"\");' class='nav-pull-right'><span>"+pagetitle.innerText+"</span></item>";
            } else {
              listOfPages += "<item id='"+page.id+"-nav' onclick='setActivePage(\""+page.id+"\");'><span>"+pagetitle.innerText+"</span></item>";
            };
          })
        })
        document.getElementById('navigation').innerHTML = listOfPages
        setActivePage(document.querySelector('.page[id]').id);

        console.log(listOfPages);
      });

  body
    navigation#navigation
    #collapse-bar(onclick='document.getElementById("navigation").classList.add("open");')
      span EDST Hahnweide
      span.page-logo
      .menu-icon
        svg#svg4218(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', width='30', height='30', viewbox='0 0 30 30', version='1.1', sodipodi:docname='burger-menu.svg')
          defs#defs4220
            metadata#metadata4223
              rdf:rdf
                cc:work(rdf:about='')
                  dc:format image/svg+xml
                  dc:type(rdf:resource='http://purl.org/dc/dcmitype/StillImage')
                    dc:title
          g#layer1(inkscape:label='Layer 1', inkscape:groupmode='layer')
            g#g4798
              g#g4793(transform='matrix(0.79994968,0,0,0.79994968,9.0492272,-11.717636)')
                g#g4805(transform='translate(5.9608155e-8,-1.2500766)')
                  rect#rect4766(ry='2.3430195', y='22.502588', x='-6.4974666', height='4.686039', width='27.872801', style='opacity:1;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:3;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1')
                  rect#rect4766-1(ry='2.3430195', y='32.306206', x='-6.4974666', height='4.686039', width='27.872801', style='opacity:1;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:3;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1')
                  rect#rect4766-3(ry='2.3430195', y='42.109818', x='-6.4974666', height='4.686039', width='27.872801', style='opacity:1;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:3;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1')


    .pages
      
      //  List here all pages you want to have in your responstive single-page-app
      .page#chapter1
        h1 Die Szenerie
        p Entwickelt wir die Scenerie aktuell auf Basis von vor Ort aufgenommenen Fotos sowie der Geo-Informationen die aus diversen online verf&uuml;gbaren Luftbildquellen ermittelt werden.
        .cols2
          p Ausz&uuml;ge aus dem aktuellen Arbeitsstand:
          .image
            a(href="https://raw.githubusercontent.com/joeherwig/EDST-Flightsim-Scenery_Hahnweide-Kirchheim-unter-Teck/master/img/Title.png")
              img(src="https://raw.githubusercontent.com/joeherwig/EDST-Flightsim-Scenery_Hahnweide-Kirchheim-unter-Teck/master/img/Title.png")
            .caption Der Tower mit Haupthangar.
              span.author joeherwig
          p Die Screenshots sind noch aus Sketchup.
          .image
            a(href="https://raw.githubusercontent.com/joeherwig/EDST-Flightsim-Scenery_Hahnweide-Kirchheim-unter-Teck/master/img/Fliegergruppe.png")
              img(src="https://raw.githubusercontent.com/joeherwig/EDST-Flightsim-Scenery_Hahnweide-Kirchheim-unter-Teck/master/img/Fliegergruppe.png")
            .caption Das Fliegerheim der Fliegergruppe Wolf-Hirth.
              span.author joeherwig
        p Der Platz ist aktuell noch im entstehen. Leider liegen mir nicht von allen Geb&auml;uden und Objekten am Platz Fotos vor, so dass ich noch mal hin muss, um auch die weiteren Elemente bauen zu k&ouml;nnen. 

      .page#reality
        h1 Der Platz
        p Die Hahnweide ist ein kleiner Flugplatz &ouml;stlich von Stuttgart im S&uuml;den Deutschlands, direkt am Rande der Schw&auml;bischen Alb. Der Platz beheimatet gleich mehrere Vereine sowie die Flugschule des Baden-W&uuml;rttembergischen Luftfahrt Verbands e. V.
        .cols2
          h3 Die Lage
          p Obwohl die Hahnweide aufgrund von L&auml;rmschutzvorgaben unterj&auml;hrig nur f&uuml;r die am Platz beheimateten Vereine per Motorflug genutzt werden kann, bietet die Hahnweide aufgrund seiner N&auml;he zum Albtrauf und zur nahe gelegenen Stadt Stuttgart viele reizvolle M&ouml;glichkeiten f&uuml;r tolle Fl&uuml;ge in die Umgebung.
          //.image
            a(href="http://nordenflieger.de/bilder/VFR/EDST_Hahnweide_real.jpg")
              img(src="http://nordenflieger.de/bilder/VFR/EDST_Hahnweide_real.jpg")
            .caption Die Hahnweide aus der Luft Blick Richtung Osten.
              span.author friesenflieger.eu
          h3 Besonderheiten
          p Bekannt ist die Hahnwiede insbesondere bei Liebhabern klassischer Flugzeuge aufgrund des in der Regel alle zwei Jahre stattfindenden Oldtimer Fliegertreffens.
          .image
            a(href="http://www.teckbote.de/cms_media/module_img/42/21470_1_articleorg_544eeb1f889f2.jpg")
              img(src="http://www.teckbote.de/cms_media/module_img/42/21470_1_articleorg_544eeb1f889f2.jpg")
            .caption Oldtimer-Treffen.
              span.author teckbote.de
          p Das Fliegertreffen findet in der Regel alle zwei Jahre Statt und zieht neben ganz besonderen historischen Flugzeugen und Nachbauten stets auch tausende begeisterte Zuschauer an.
      
      .page#chapter4
        h1 Charts
        p Da der Platz PPR - und damit f&uuml;r externe Piloten in der Realit&auml;t normalerweise gesperrt ist, muss ich mich mal auf dem Platz nach g&uuml;ltigen Anflugkarten umsehen.

      .page#chapter5.nav-pull-right
        h1 Unterst&uuml;tzung
        p Da sich der Platz aktuell noch mitten in der Entwicklung befindet, freue ich mich &uuml;ber jeden, der Tatkr&auml;ftig an dieser open-source-Scenery mithilft.
        p
          a(href="https://github.com/joeherwig/EDST-Flightsim-Scenery_Hahnweide-Kirchheim-unter-Teck" target="github") Hier 
          | k&ouml;nnt Ihr euch die Sourcen ziehen und den jeweils aktuellen Bearbeitungsstand abrufen. Wenn Ihr gemeinsam mit mir diesen kleinen Platz in die Simulatoren bringen wollt, freue ich mich &uuml;ber eure kurze Info &uuml;ber die 
          a(href="https://github.com/joeherwig/EDST-Flightsim-Scenery_Hahnweide-Kirchheim-unter-Teck/issues" target="github") github Issues
          | .